@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap'); 

* {
    box-sizing: border-box;
}

body {
    background-color: #89A8B2;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;   
}

.btn {
    background-color: #B3C8CF;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(0.9);
}
.btn:focus {
    outline: none;
}